@media(min-width: 768px){
    news-input{
        width: 50%;
    }
}
body::before{
    display: block;
    content: '';
    height: 72px;
}
#instructors img{
   width: 100px;
   background-color: rgb(219, 219, 219);
}
@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}